{
    "extends": "eslint-config-airbnb",
    // ESLint doesn't natively support experimental ECMAScript language features.
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}], //缩进空格改为四个
        "react/jsx-indent": [2, 4], //jsx缩进空格改为4个
        "no-var": 0,
        'react/jsx-indent-props': ['error', 4],      //react jsx缩进空格改为四个
        'react/prefer-stateless-function': 'off'  //redux 会为container绑定state，所以去掉这条
    },
    "plugins": [
        "react",
        "import"
    ],
    "globals": {
        "__DEVELOPMENT__": true,
        "__CLIENT__": true,
        "__SERVER__": true,
        "__DISABLE_SSR__": true,
        "__DEVTOOLS__": true,
        "socket": true,
        "webpackIsomorphicTools": true
    }
}

/**
 * 参考资料
 * airbnb react编程规范
 *  -https://github.com/JasonBoy/javascript/tree/master/react
 * airbnb es6编程规范
 *  -https://github.com/yuche/javascript
 */
